***REMOVED***
***REMOVED***

***REMOVED***
    "WEBHOOK_URL": "",
***REMOVED***
    "DISCORD_TOKEN": "",
    "DISCORD_CHANNEL_ID": "",
    "DISCORD_CHANNEL_NAME": "",
***REMOVED***

    "MINECRAFT_SERVER_RCON_IP": "",
***REMOVED***
    "MINECRAFT_SERVER_RCON_PASSWORD": "",
    "MINECRAFT_TELLRAW_TEMPLATE": "[***REMOVED***\"color\": \"#DF00FE\", \"text\": \"<%username%> %message%\"***REMOVED***]",

***REMOVED***
***REMOVED***

***REMOVED***

***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***

***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***

    "SERVER_NAME": "Minecraft Server",
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***

